<% layout("/layouts/boilerplate") %>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 90vh;">

  <div class="card shadow-lg border-0 rounded-4 p-4" style="width: 100%; max-width: 450px;">

<div class="text-center mb-4">
  <h2 class="fw-bold">Sign Up</h2><hr class="my-4 w-75 mx-auto rounded-pill" 
     style="height: 2px; background: linear-gradient(90deg, #0e0f0e, #070707, #000000); border: none;">
</div>

<form action="/signup" method="POST" class="needs-validation" novalidate>

  <%- include("../includes/auth_fields.ejs", { 
    showEmail: true, 
    showPasswordInstructions: true,
    errors: errors,
    formData: formData
  }) %>

  <% if (errors.general) { %>
    <div class="alert alert-danger py-2 mb-3" role="alert">
      <%= errors.general %>
    </div>
  <% } %>

  <!-- Button -->
  <div class="d-grid mt-4">
    <button class="btn btn-success btn-lg rounded-3">
      Sign Up
    </button>
  </div>

</form>



<!-- Footer -->
<div class="text-center mt-3">
  <small class="text-muted">
    Already have an account? 
    <a href="/login" class="text-decoration-none">Login</a>
  </small>
</div>

  </div>

</div>
